html {
  overflow-x: hidden;
  margin: auto;
  display: grid;
  place-items: center;
  margin: auto;
}
body {
  overflow: hidden;
  text-align: center;
  margin: auto;
  background-image: url("./imagenes/fondo.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  text-align: center;
  margin: auto;
}

#tit {
  font-family: "cheroline";
  font-size: 80px;
  margin-top: 60px;
  line-height: 55px;
}

#boda {
  font-family: "montserrat-regular";
  font-size: 15px;
  letter-spacing: 1px;
}

.reloj {
  margin-top: 20px;
}

.row {
  box-shadow: 1px 0.4px 5px #888888;
  padding: 20px 0px;
  background-color: rgb(255, 255, 255, 0.4);
}

.num {
  display: flex;
  font-family: "montserrat-semibold";
}

.numReloj{
  margin-left: 33px;
}

.let {
  display: flex;
  font-family: "montserrat-regular";
}

.letrasReloj {
   font-size: 9px;
   margin-left: 32px;
}
.letrasRelojMin{
  font-size: 9px;
  margin-left: 22px;
}
.letrasRelojSeg {
  font-size: 9px;
  margin-left: 40px;
}

.datos {
  font-family: "montserrat-regular";
  font-size: 10px;
  margin: 30px auto;
  box-shadow: 1px 0.4px 5px #888888;
  width: 70%;
  place-self: center;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: #fff;
}

.frase {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.titulos {
  font-family: "cheroline";
  font-size: 50px;
}

.padres {
  font-family: "montserrat-semibolditalic";
  margin-bottom: 10px;
}

.lugares {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#mensaje {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#sabado {
  font-size: 50px;
}

#fechaDia {
  margin-top: -25px;
  font-size: 10px;
}

#ceremonia {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#iglesia {
  margin-top: -10px;
}

.iglesiaSalon {
  font-family: "montserrat-bold";
}

#civil {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#civilFiesta {
  line-height: 250%;
  margin-top: 20px;
}

#pCivil {
  margin-right: 20px;
}

#imgY {
  margin-left: 10px;
  margin-top: -50px;
}

#padrinos {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.fotos {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#nosotros {
  font-family: "cheroline";
  font-size: 60px;
  line-height: 50%;
  width: 120%;
  margin-top: -40px;
  z-index: -1;
  padding: 50px 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

#fotos2 {
  margin-top: -50px;
}

.footer {
  font-family: "montserrat-regular";
  font-size: 10px;
  margin: 20px auto;
  box-shadow: 1px 0.4px 5px #888888;
  width: 70%;
  place-self: center;
  padding: 40px 20px;
  display: block;
  background-color: #fff;
}

#regalo {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#alias {
  font-family: "montserrat-semibolditalic";
}

.separador {
  margin: 15px auto;
}
.ico {
  margin: 10px auto;
  width: 40px;
}

#dresscode {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#confirmacion {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#asistencia {
  font-family: "cheroline";
  line-height: 60%;
  margin-bottom: 20px;
}

#fecha {
  font-family: "montserrat-ligthitalic";
  font-size: 9px;
}

.boton {
  font-family: "montserrat-bold";
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgb(127, 127, 127);
  border-radius: 20px;
  border: none;
  padding: 5px 20px;
  color: #fff;
}

.icoInsta {
  margin-right: 5px;
}

#btnFede {
  margin-top: 5px;
}

#seguinos {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#txtSeguinos {
  margin-top: -20px;
}

#gracias {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#graciasFinal {
  margin-top: -25px;
  font-size: 60px;
}

#graciasFinal2 {
  line-height: 15px;
  margin-top: -30px;
}

#pFinal {
  font-size: 25px;
  margin-top: 25px;
}

footer {
  padding-bottom: 25%;
}

.vinculo {
  list-style: none;
  text-decoration: none;
}

.boton:hover {
  background-color: black;
  color: #fff;
}

#audio{
  width: 30%;
  margin-top: 10px;
  opacity: 0.3;
  display: flex;
}

@media (min-width: 768px) {
  body {
    width: 50%;
    background-size: 50% 100%;
  }
}


@media (min-width: 481px) and (max-width: 767px) {
  body {
    width: 70%;
    background-size: 70% 100%;
  }
    
  .numReloj{
    margin-left: 44px;
  }
    
  .letrasReloj {
     font-size: 9px;
     margin-left: 42px;
  }
  .letrasRelojMin{
    font-size: 9px;
    margin-left: 30px;
  }
  .letrasRelojSeg {
    font-size: 9px;
    margin-left: 60px;
  }
}

@media (max-width: 320px) {
  .datos {
    width: 80%;
  }
  .footer {
    width: 80%;
  }
  .numReloj{
    margin-left: 28px;
  }
    
  .letrasReloj {
     font-size: 9px;
     margin-left: 27px;
  }
  .letrasRelojMin{
    font-size: 9px;
    margin-left: 18px;
  }
  .letrasRelojSeg {
    font-size: 9px;
    margin-left: 26px;
  }
}

@font-face {
  font-family: "cheroline";
  src: url("fuentes/Cherolina.ttf");
}

@font-face {
  font-family: "montserrat-regular";
  src: url("fuentes/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "montserrat-bold";
  src: url("fuentes/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "montserrat-semibold";
  src: url("fuentes/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "montserrat-semibolditalic";
  src: url("fuentes/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "montserrat-ligthitalic";
  src: url("fuentes/Montserrat-LightItalic.ttf");
}
